* {
    box-sizing: border-box;
}

body {
    padding: 0;
    display: flex;
}

#projects-panel {
    width: 20%;
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
}

#projects-list p:hover {
    cursor: pointer;
}

#new-project-form, #new-todo-form {
    display: flex;
}

#project-name {
    font-size: 20px;
}

#add-project-btn, #add-todo-btn {
    height: 40px;
    width: 40px;
}

#list-panel {
    border: 1px solid red;
}